* {
  margin: 0em;
}
body {
  font-size: 1.2em;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.container {
  width: 90vw;
  margin: auto;
}

.text-center {
  text-align: center;
}
.navbar {
  background-color: #7e22a8;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  color: #fff;
  margin-right: 0.5rem;
}

.nav-link:hover {
  color: #000;
  background: #fff;
}
.jumbotron {
  background-color: #787897;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
a {
  text-decoration: none;
  color: white;
}

main {
  flex-grow: 1;
}
.cards-container {
  display: flex;
  flex-direction: row;
}
.navbar-icon {
  display: none;
}

.card {
  width: 300px;
  min-height: 300px;
  margin: 00.5rem;
}

.b {
  border: 1px solid #b8b8ca;
}

.box-shadow {
  box-shadow: 0 0 1rem 0 #b8b8ca;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
footer ul li {
  margin-right: 0.9em;
}
footer a {
  color: #fff;
}

footer {
  background-color: #4e077e;
}
footer p {
  color: #fff;
  text-align: center;
}

.form-control {
  outline: none;
  width: 100%;
  border-color: transparent;
  min-height: 2rem;
  font-size: 1.5rem;
}
@media screen and (max-width: 560px) {
  .jumbotron {
    flex-direction: column;
  }

  .navbar-collapse {
    display: none;
  }

  #navbar-icon {
    display: inline-block;
  }
}
