* {
  margin: 0em;
}
body {
  font-size: 1.2em;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.container{
    width="300"
    height="300"
}
.navbar {
  background-color: #7e22a8;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navlink {
  color: #fff;
  margin-right: 0.5rem;
}
.jumbotron{
  background-color: #09099e;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  allign-items:center;
}
a {
  text-decoration: none;
  color: white;
}

main {
  flex-grow: 1;
}
.cards-container {
  display: flex;
  flex-direction: row;
}

.card {
  width: 300px;
  min-height: 300px;
  margin: 00.5rem;
}

.b {
  border: 1px solid #b8b8ca;
}

.box-shadow {
  box-shadow: 0 0 1rem 0 #b8b8ca;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
footer ul li {
  margin-right: 0.9em;
}
footer a {
  color: #fff;
}

footer {
  background-color: #4e077e;
}
footer p {
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 560px) {
  .jumbotron {
    flex-direction: column;
  }

.navbar-collapse{
  display: none;
}

  
}